<!DOCTYPE html>
<html>
<head>
	<title>bootstrap page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="card col-md-6 mx-auto mt-3 shadow-lg bg-secondary">
			<div class="card-body">
				<h3 class="text-warning">Login Form</h3>
				<form>
					<input type="text" name="uname" placeholder="Enter your username" class="form-control my-3">
					<input type="password" name="psw" placeholder="Enter your password" class="form-control my-3">
					<button class="btn btn-success">Login</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>